.strips {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    display: flex;
    cursor: pointer;
  
      .strip {
          position: relative;
          width: 19.9vw;
          margin: 0.1vw;
          height: 100vh;
          display: flex;
          text-align: center;
          overflow: hidden;
          align-items: center;
          justify-content: center;
  
          .strip_content {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              height: 100vh;
              width: 100%;
              text-align: center;
          }
      }
  }